.tool-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: #3f51b5;
}

.link {
    color: white;
}

.btn {
    cursor: pointer;
    min-width: 150px;
    padding: 10px;
    text-transform: uppercase;
    vertical-align: middle;
    background: #3da35a;
    border: none;
    color: #ffffff;
    font-weight: 600;
    border-radius: 5px;
}
