.container {
  max-width: 500px;
  padding: 0 30px;
  margin: 0 auto;
}
.section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border: 1px solid #d0cfcf;
  padding: 10px;
  position: relative;
  margin-bottom: 20px;
}

.title {
  text-align: center;
}

.item {
  border: 1px solid #3f51b5;
  padding: 10px;
  margin-bottom: 20px;
}

.item-bnt {
  cursor: pointer;
  min-width: 100px;
  padding: 10px;
  text-transform: uppercase;
  vertical-align: middle;
  background: #3da35a;
  border: none;
  color: #ffffff;
  font-weight: 600;
  border-radius: 5px;
}

.login-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.completed{
  background-color: #3da35a;
}
.not-completed {
  background-color: red;
}
